{% extends 'base.html' %}
{% load widget_tweaks %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'videocorn/css/home_style.css' %}">
{% endblock %}
{% block content %}
    <div class="jumbotron my-jumbotron">
        <div class="col-xs-offset-1">
            <h1>¡Hola, {{ user.get_username }}!</h1>
            <p>¿Qué película quieres ver hoy?</p>

            <form method='GET' action='/videocorn/#movies'>

                <div class ="form-group">
                    <div class="input-group input-group-lg col-xs-11">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        <input type="text" name="title" maxlength="200" class="form-control" id="id_title" placeholder="Título..." value="{{request.GET.title}}">
                        <span class="input-group-btn"><input class="btn btn-default" type="submit" value='Buscar'></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-xs-11 col-sm-2">
                        <h4>Año:</h4>
                        <select name="year" class="form-control" id="id_year">
                            <option value="" selected="">---------</option>
                            {% for item in year_list %}
                                <option value="{{ item }}"{% if year == item.date|stringformat:"i" %}selected=""{% endif %}>{{ item }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col col-xs-11 col-sm-2">
                        <h4>Género:</h4>
                        <select name="genre" class="form-control" id="id_genre">
                            <option value="" selected="">---------</option>
                            {% for item in genre_list %}
                                <option value="{{ item }}"{% if genre == item.name %}selected=""{% endif %}>{{ item }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col col-xs-11 col-sm-2">
                        <h4>Puntuación:</h4>
                        <select name="score" class="form-control" id="id_score">
                            <option value="" selected="">---------</option>
                            {% for item in score_list %}
                                <option value="{{ item }}"{% if score == item.stars|stringformat:"i" %}selected=""{% endif %}>{{ item }}/5</option>
                            {% endfor %}
                        </select>
                    </div>
                </div> 
            </form>

        </div>
    </div>

    <div class="col-xs-offset-1 col-xs-10">
        <div id="movies" class="page-header">
            <h1>Películas</h1>
        </div>
    
        {% for movie in movie_list %}
            <a href="{{movie.id}}">
                <div class="thumbnail my-thumbnail col-xs-6 col-sm-3">
                    <img class="my-img" src="{{movie.cover}}" alt="Image" />
                </div>
                
            </a>       
        {% endfor %}      
    </div> 

{% endblock %}