{% extends 'base.html' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'videocorn/css/login_style.css' %}">
{% endblock %}

{% block content %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <div class="container vertical-center col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">
        <div class="login-panel">

            <div class="login-header">
                <img class="col-xs-offset-3 col-xs-6 col-md-offset-3 col-md-6" src="{% static 'videocorn/img/logo.png' %}" alt="logo" height="auto">
            </div>

            <div class="login-body col-xs-offset-1 col-xs-10">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class ="form-group">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="id_username" type="text" class="form-control" name="username" placeholder="Email" maxlength="30" required="">
                        </div>   
                    </div>
                    <div class ="form-group">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="id_password" type="password" class="form-control" name="password" placeholder="Contraseña" required="">
                        </div>
                        
                    </div>

                    <input type="submit" value="Iniciar Sesión" class="btn my-color btn-lg col-xs-12">
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>

                {% if form.errors %}
                    <center>
                        <strong><div class="error">El username o contraseña introducidos son incorrectos.</div></strong>
                    </center>
                {% endif %}

            </div>      
        </div>
    </div>
    <!--<div class="bg"></div>-->
{% endblock %}