{% extends 'base.html' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'videocorn/css/movie_style.css' %}">
{% endblock %}

{% block content %}
<div class="container vertical-center">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="cover">
                <img src="{{ movie.cover }}" class= "col-xs-12" alt="{{ movie.title }}_cover">
            </div>
        </div>

        <div class="col-xs-12 col-sm-8">
            <!-- TITULO -->
            <div class="big-title">{{movie.title}}</div>

            <!-- RESUMEN -->
            <div class="big-text">{{movie.overview}}</div>

            <!-- AÑO -->
            <div class="content">
                <span class="small-title">Año:</span>
                <span class="small-text">{{movie.year}}</span>
            </div>
            
            <!-- GENERO -->
            <div class="content">
                <span class="small-title">Género:</span>
                {% for genre in movie.genre.all %}
                    <span class="small-text">{{genre}}</span>
                {% endfor %}
            </div>
        
            <!-- PUNTUACION -->
            <div class="content">
                <span class="small-title">Puntuación:</span>
                {% if movie.score|slugify == '0' %}
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                {% endif %}
                {% if movie.score|slugify == '1' %}
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                {% endif %}
                {% if movie.score|slugify == '2' %}
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                {% endif %}
                {% if movie.score|slugify == '3' %}
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                {% endif %}
                {% if movie.score|slugify == '4' %}
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                {% endif %}
                {% if movie.score|slugify == '5' %}
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    
                {% endif %}
            </div>

            <!-- DIRECTOR -->
            <div class="content">
                <span class="small-title">Director:</span>
                <span class="small-text">{{movie.director}}</span>
            </div>

            <!-- CAST -->
            <div class="content">
                <span class="small-title">Cast:</span>
                {% for cast in movie.cast.all %}
                <span class="small-text">{{cast}} </span>
                {% endfor %}
            </div>

            <!-- WATCH -->
            <a href="{{movie.trailer}}">
                <input type="text" value="Ver Película" class="btn btn-lg col-xs-10 col-sm-4 my-color">
            </a>
        </div>
    </div>
</div>
{% endblock %}