{% extends 'base.html' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'videocorn/css/user_style.css' %}">
{% endblock %}

{% block scripts %}
    <script>
        $(document).on("click", ".open-EditUsers", function (e) {

            e.preventDefault();

            var _self = $(this);

            var myUserId = _self.data('id');
            $("#id_UserId").val(myUserId);

            $(_self.attr('href')).modal('show');
        });
    </script>
{% endblock %}

{% block content %}
<div class="container">

    <!-- HEADER -->
    <div class="page-header">
        <h1>Usuarios</h1>
    </div>

    <!-- ERROR MESSAGE -->
    {% if form.errors %}
        <center>
            <div class="alert alert-danger" role="alert">El username introducido ya existe. Por favor intentelo de nuevo.</div>
        </center>
    {% endif %} 
    
    <!-- SUCCESS MESSAGE -->
    {% if messages %} 
        <center>
        {% for message in messages %} 
            <div class="alert alert-success" role="alert">{{ message }}</div> 
        {% endfor %} 
        </center>
    {% endif %} 

    <!-- TABLA -->
    <table class="table table-responsive">
        <thead class="my-thead">
            <tr>
                <th>USERNAME</th>
                <th>EMAIL</th>
                <th>ACCION</th>
            </tr>
        </thead>
        <tbody>
            {% for user in user_list %}
                <tr>
                    <td>{{user.username}}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <form method="post" action="">
                            <a data-id="{{user.username}}" class="open-EditUsers btn my-color btn-xs" href="#editUsers"><span class="glyphicon glyphicon-pencil"></span></a>
                            {% csrf_token %}
                            <input type="hidden" name="username" value="{{user.username}}">
                            <button type="submit" class="btn my-color glyphicon glyphicon-trash btn-xs" name="action" value="delete"></button>
                        </form>  
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    <button class="btn my-color btn-sm" type="submit" data-toggle="modal" data-target="#add"><span class="glyphicon glyphicon-plus"></span> Añadir</button>
                </td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>      

<!-- ADD MODAL -->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content my-modal">
            <div class="modal-header">
                <center><h2>Añadir Usuario</h2></center>
            </div>
                   
            <div class="modal-body">
                <form method="post" action="">
                    {% csrf_token %}
                    <center>
                        <div class="form-group">
                            <div class="input-group input-group-lg col-xs-11">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" name="username" maxlength="150" class="form-control" placeholder="Username" required="" id="id_username">
                            </div>   
                        </div>
                            
                        <div class="form-group">
                            <div class="input-group input-group-lg col-xs-11">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input type="email" name="email" maxlength="254" class="form-control" placeholder="Email" required="" id="id_email">
                            </div>   
                        </div>
                        
                        <div class="form-group">
                            <div class="input-group input-group-lg col-xs-11">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" name="password" maxlength="128" class="form-control" placeholder="Contraseña" required="" id="id_password">
                            </div>
                        </div>
                    </center>
            </div>
            
            <div class="modal-footer">
                    <button type="button" class="btn my-color-close" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn my-color" name="action" value="add">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- EDIT MODAL -->
<div class="modal fade" id="editUsers"  role="dialog" aria-labelledby="editUsers" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content my-modal">
        <div class="modal-header">
            <center>
                <h2>Editar Usuario</h2>
                <p>Rellene unicamente los campos a modificar.</p>
            </center>
        </div>

        <div class="modal-body">
            <form method="post" action="">
                {% csrf_token %}
                <center>
                    <div class ="form-group">
                        <div class="input-group input-group-lg col-xs-11">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" name="username" id="id_UserId" value="" readonly="readonly">
                        </div>   
                    </div>
                        
                    <div class ="form-group">
                        <div class="input-group input-group-lg col-xs-11">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input type="email" name="email" maxlength="254" class="form-control" placeholder="Email" id="id_email">
                        </div>   
                    </div>
                    
                    <div class ="form-group">
                        <div class="input-group input-group-lg col-xs-11">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" name="password" maxlength="128" class="form-control" placeholder="Contraseña" id="id_password">
                        </div>
                    </div>
                </center>
            </div>
        
        <div class="modal-footer">
                <button type="button" class="btn my-color-close" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn my-color" name="action" value="edit">Guardar</button>
            </form>
        </div>
      
    </div>
  </div>
</div>

{% endblock %}