{% extends 'base.html' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'videocorn/css/users_style.css' %}">
{% endblock %}

{% block scripts %}
    <script>
        $(document).on("click", ".open-EditUsers", function (e) {

            e.preventDefault();

            var _self = $(this);

            var myUserId = _self.data('id');
            $("#id_UserId").val(myUserId);

            $(_self.attr('href')).modal('show');
        });
    </script>
{% endblock %}

{% block content %}
<div class="container">

    <!-- HEADER -->
    <div class="page-header">
        <h1>Usuarios <button class="btn my-color btn-md my-action" type="submit" data-toggle="modal" data-target="#add"><span class="glyphicon glyphicon-plus"></span></button></h1>
    </div>

        <!-- ERROR MESSAGE -->
        {% if form.errors %}
            <center>
                <div class="alert alert-danger" role="alert">Hubo un error con el formulario. Por favor intentelo de nuevo.</div>
            </center>
        {% endif %} 
        
        <!-- MESSAGES -->
        {% if messages %} 
            <center>
            {% for message in messages %} 

                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endif %}

                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
                <div class="alert alert-success" role="alert">{{ message }}</div> 
                {% endif %}

            {% endfor %} 
            </center>
        {% endif %} 

    <!-- PANEL -->
    {% for user in user_list %}
    <div class="panel my-panel">

        <!-- HEADER -->
        <div class="panel-heading my-panel-header"> 
            <h1 class="panel-title">
                {% if user.is_staff %}<span class="glyphicon glyphicon-king"></span>{% else %} <span class="glyphicon glyphicon-pawn"></span>{% endif %}
                {{ user.username }}
                <form method="post" action="" class="my-action">
                    <a data-id="{{user.username}}" class="open-EditUsers my-icon" href="#editUsers"><span class="glyphicon glyphicon-pencil"></span></a>
                    {% csrf_token %}
                    <input type="hidden" name="username" value="{{user.username}}">
                    <button type="submit" class="my-icon" name="action" value="delete"><span class="glyphicon glyphicon-trash"></span></input>
                </form>
                <button data-toggle="collapse" data-target="#{{user.id}}" class="my-icon my-action"><span class="glyphicon glyphicon-eye-open"></span></button>
            </h1>
        </div>

        <!-- BODY -->
        <div id="{{user.id}}" class="collapse">
            <div class="panel-body my-panel-body">
                <table class="table table-responsive">
                    <tr>
                        <th>Email:</th>
                        <td>{{user.email}}</td>
                    </tr>
                        <th>Nombre:</th>
                        <td>{{user.first_name}}</td>
                    </tr>
                        <th>Apellidos:</th>
                        <td>{{user.last_name}}</td>
                    </tr>
                        <th>Es Staff:</th>
                        <td>{% if user.is_staff %} Si {% else %} No {% endif %}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    {% endfor %}
</div>      

<!-- ADD MODAL -->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content my-modal">
            <div class="modal-header">
                <center><h2>Añadir Usuario</h2></center>
            </div>
                   
            <div class="modal-body">
                <form method="post" action="">
                    {% csrf_token %}
                    <center>
                        <div class="form-group">
                            <div class="input-group input-group-lg col-xs-11">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" name="username" maxlength="150" class="form-control" placeholder="Username" required="">
                            </div>   
                        </div>
                            
                        <div class="form-group">
                            <div class="input-group input-group-lg col-xs-11">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-font"></i></span>
                                <input type="text" name="first_name" maxlength="254" class="form-control" placeholder="Nombre">
                            </div>   
                        </div>

                        <div class="form-group">
                            <div class="input-group input-group-lg col-xs-11">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-font"></i></span>
                                <input type="text" name="last_name" maxlength="254" class="form-control" placeholder="Apellidos">
                            </div>   
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg col-xs-11">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input type="email" name="email" maxlength="254" class="form-control" placeholder="Email" required="">
                            </div>   
                        </div>
                        
                        <div class="form-group">
                            <div class="input-group input-group-lg col-xs-11">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" name="password" maxlength="128" class="form-control" placeholder="Contraseña" required="">
                            </div>
                        </div>
                    </center>
            </div>
            
            <div class="modal-footer">
                    <button type="button" class="btn my-color-close" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn my-color" name="action" value="add">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- EDIT MODAL -->
<div class="modal fade" id="editUsers"  role="dialog" aria-labelledby="editUsers" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content my-modal">
        <div class="modal-header">
            <center>
                <h2>Editar Usuario</h2>
                <p>Rellene unicamente los campos a modificar.</p>
            </center>
        </div>

        <div class="modal-body">
            <form method="post" action="">
                {% csrf_token %}
                <center>
                    <div class ="form-group">
                        <div class="input-group input-group-lg col-xs-11">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" name="username" id="id_UserId" value="" readonly="readonly">
                        </div>   
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-lg col-xs-11">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-font"></i></span>
                            <input type="text" name="first_name" maxlength="254" class="form-control" placeholder="Nombre" id="id_first_name">
                        </div>   
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-lg col-xs-11">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-font"></i></span>
                            <input type="text" name="last_name" maxlength="254" class="form-control" placeholder="Apellidos" id="id_last_name">
                        </div>   
                    </div>

                    <div class ="form-group">
                        <div class="input-group input-group-lg col-xs-11">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input type="email" name="email" maxlength="254" class="form-control" placeholder="Email" id="id_email">
                        </div>   
                    </div>
                    
                    <div class ="form-group">
                        <div class="input-group input-group-lg col-xs-11">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" name="password" maxlength="128" class="form-control" placeholder="Contraseña" id="id_password">
                        </div>
                    </div>
                </center>
            </div>
        
        <div class="modal-footer">
                <button type="button" class="btn my-color-close" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn my-color" name="action" value="edit">Guardar</button>
            </form>
        </div>
      
    </div>
  </div>
</div>

{% endblock %}