.my-jumbotron{
    background-color: #d9354b;
    color: white;
}

.page-header{
    color:#d9354b;
}

.my-img{
    border: 2px solid #eeeeee;
}

.my-img:focus, .my-img:hover{
    border: 4px solid #d9354b;
  }

.my-thumbnail {
    width: 173px;
    height: 255px;
    margin: 10px;
    background-color: transparent;
    border: 0px;
}

@media only screen and (max-width: 600px) {
    .my-thumbnail {
        width: 120px;
        height: 175px;
        margin: 10px;
        background-color: transparent;
        border: 0px;
    }
}


