html, body{
    background-color: black;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
}

.big-title{
    margin:15px;
    font-size: 60px;
    font-weight: 500;
    margin-right: 30px;
}

.big-text{
    text-align: justify;
    font-size: 22px;
    font-weight: 200;
    margin: 15px; 
    margin-right: 30px;
}

.small-title{
    margin: 15px;
    font-size: 19px;
    font-weight: 500;
}

.small-text{
    margin-right: 10px;
    font-size: 15px;
    font-weight: 200;
}

.my-color{
    color: white;
    background-color: #d9354b;
    margin: 15px;
    margin-top: 30px;
}

.page-header{
    color:#d9354b;
}