html, body{
    background-color: #222222;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;

    /* Contenido centrado verticalmente */
    height:100%;
    margin:0;
    padding:0;
}

 /* Contenido centrado verticalmente */
.vertical-center {
    min-height: 100%;  
    min-height: 100vh; 
    display: flex;
    align-items: center;
}

 /* Tipos de texto */
.big-title{
    margin:15px;
    font-size: 60px;
    font-weight: 500;
    margin-right: 30px;
}

.big-text{
    text-align: justify;
    font-size: 22px;
    font-weight: 200;
    margin: 15px; 
    margin-right: 30px;
}

.small-title{
    margin: 15px;
    font-size: 19px;
    font-weight: 500;
}

.small-text{
    margin-right: 10px;
    font-size: 15px;
    font-weight: 200;
}

 /* Boton Ver Pelicula */
.my-color{
    color: white;
    background-color: #d9354b;
    margin: 15px;
    margin-top: 30px;
}

.my-color:focus, .my-color:hover{
    color: white;
    background-color: #ab2739;
  }

 /* Imagen */
.cover{
    margin:15px;
}
