html, body{
    background-color: #222222;
    color: white;
}

/* Personalizacion del color del boton de Guardar */
.my-color{
    color: white;
    background-color: #d9354b;
}

.my-color:focus, .my-color:hover{
    color: white;
    background-color: #ab2739;
  }

  /* Personalizacion del color del boton de Cerrar */
.my-color-close{
    color: white;
    background-color: #222222;
}

.my-color-close:focus, .my-color-close:hover{
    color: #d9354b;
    background-color: #222222;
  }

/* Personalización de la tabla */
.my-thead{
    color: #d9354b;
}

/* Personalización del Modal */
.my-modal{
    background-color: #222222;
}

.modal-header {
    border-bottom: 0px solid #e5e5e5;
}
  
.modal-footer {
    border-top: 0px solid #e5e5e5;
}
