html, body{
    background-color: #222222;
    color: white;
}

/* Personalizacion del color del boton de Guardar */
.my-color{
    color: white;
    background-color: #d9354b;
}

.my-color:focus, .my-color:hover{
    color: white;
    background-color: #ab2739;
  }

/* Personalizacion del color del boton de Cerrar */
.my-color-close{
    color: white;
    background-color: #222222;
}

.my-color-close:focus, .my-color-close:hover{
    color: #d9354b;
    background-color: #222222;
}

/* Personalización del Modal */
.my-modal{
    background-color: #222222;
}

.modal-header {
    border-bottom: 0px solid #e5e5e5;
}
  
.modal-footer {
    border-top: 0px solid #e5e5e5;
}

/* Personalizacion del Panel */
.my-panel-header{
    color: #fff;
    background-color: #d9354b;
    border-color: #d9354b;
}

.my-panel-body{
    background-color:#222222;
    border-color:#d9354b;
    padding: 10px;
}

.my-panel{
    border: 3px solid #d9354b;
    background-color: #d9354b;
}

.my-action{
    float: right;
}

.my-icon{
    margin-left: 10px;
    color:white;
    background-color: transparent;
    border: 0px;
}

/* Personalizacion de la tabla */
.table>tbody>tr>th, .table>tbody>tr>td {
    border-top: 0px;
}

.table>tbody>tr>th {
    text-align: right;
    width:25%;
}

.table-responsive{
    border: 0px;
    margin:0px;
}
   

