/* Personalizacion de la tabla */
.table>tbody>tr>th, .table>tbody>tr>td {
    border-top: 0px;
}

.table>tbody>tr>th {
    text-align: right;
    width:25%;
}

.table-responsive{
    border: 0px;
    margin:0px;
}

